@page
@model SnackAttack.Pages.FavouriteRecipes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Favourite Recipes</h1>
<h2>Save your favourite recipes to cook again</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FavouriteRecipe[0].RecipeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FavouriteRecipe[0].Recipe.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.FavouriteRecipe)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Recipe.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Recipe.Name)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
