@page "{id:int?}"
@model SnackAttack.Pages.MealPlans.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MealPlan</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MealPlan.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MealPlan.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MealPlan.RecipeID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MealPlan.Recipe.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MealPlan.Recipe.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MealPlan.Recipe.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MealPlan.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MealPlan.User.ID)
        </dd>
        <dt class="col-sm-2">Recipe Details</dt>
        <dd class="col-sm-10">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Ingredients</th>
                        <th>Directions</th>
                        <th>Cost</th>
                        <th>Category</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var recipe in Model.MealPlan.Recipe.MealPlans.Select(mp => mp.Recipe))
                    {
                    <tr>
                        <td>@Html.DisplayFor(model => recipe.Name)</td>
                        <td>@Html.DisplayFor(model => recipe.Description)</td>
                        <td>@Html.DisplayFor(model => recipe.Ingredients)</td>
                        <td>@Html.DisplayFor(model => recipe.Directions)</td>
                        <td>@Html.DisplayFor(model => recipe.TotalEstimatedCost)</td>
                        <td>@Html.DisplayFor(model => recipe.Category)</td>
                    </tr>
                    }
                </tbody>
            </table>
            </dd>

    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.MealPlan?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
